<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	py:strip="True">
<h1>Mounted Controllers</h1>
<table class="tgdb_table">
	<tr>
		<th>Path</th>
		<th>Controller</th>
		<th>Exposed Methods</th>
	</tr>
	<tr py:for="i, entry in enumerate(controllers.iteritems())"
			class="${'tgdb_row_odd' if i%2 else 'tgdb_row_even'} tgdb_row">
		<td><strong py:content="entry[0]" /></td>
		<td py:content="entry[1]['controller']" />
		<td py:content="', '.join(entry[1]['exposed_methods'])" />
	</tr>
</table>
</html>
