<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	py:strip="True">
<h1>Queries Performed</h1>
<table class="tgdb_table" style="width:90%;">
	<thead>
		<tr>
			<th>Command</th>
			<th>Params</th>
			<th>Time</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr py:for="i, query in enumerate(queries)" style="background-color:#f8f8f8;"
				class="${'tgdb_row_odd' if i%2 else 'tgdb_row_even'} tgdb_row">
			<td><strong py:content="Markup(query['collection'])" />.<em py:content="Markup(query['command'])" /></td>
			<td py:content="Markup(query['filter'])" />
			<td py:content="u'%.4f\xa0ms' % query['duration']" />
			<td>
				<p class="tgdb_query">
					<a href="${tg.url('/_debugbar/perform_ming', params=dict(collection=query['collection'], command=query['command'], params=query['params'], duration=query['duration']))}">Results</a>
				</p>
			</td>
		</tr>
	</tbody>
</table>
</html>
