<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	py:strip="True">

<script type="text/javascript" src="${tg.url('/_debugbar/statics/jquery.js')}"></script>
<script type="text/javascript">
$(function($) {
	var bar = $('#tgdb_debugbar');
	$('.tgdb_detail_box', bar).hide();
	$('#tgdb_button', bar).click(function() {
		$('#tgdb_barcontent').animate({width: 'toggle'});
	});
	$('.tgdb_title', bar).click(function() {
		var title = $(this);
		var content = title.siblings();
		$('.tgdb_title', bar).not(title).removeClass('highlight');
		$('.tgdb_content', bar).not(content).hide();
		title.toggleClass('highlight');
		content.slideToggle();
	});
	$('.tgdb_query a', bar).click(function() {
		var master = $(this).closest('.tgdb_content_box');
		var detail = master.next();
		master.hide();
		detail.html('<p>&nbsp;</p><h1>Fetching Informations...</h1>').show();
		detail.load($(this).attr('href'), function() {
			detail.hide().fadeIn(function() {
				$('.tgdb_back a', detail).one('click', function() {
					detail.hide();
					master.fadeIn();
					return false;
				});
			});
		});
		return false;
	});
});
$.noConflict(true);
</script>

<div id="tgdb_debugbar">
	<div id="tgdb_button" />
	<div id="tgdb_barcontent">
		<div class="tgdb_section" py:for="sect in sections" py:if="sect.is_active">
			<div class="tgdb_title" py:content="sect.title()" />
			<div class="tgdb_content">
				<div class="tgdb_content_box" py:content="Markup(sect.content())" />
				<div class="tgdb_detail_box" />
			</div>
		</div>
		<div style="clear:both" />
	</div>
</div>

</html>
