<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
<head>
    <title>TurboGears Debug Bar - Explain SQL</title>
    <style>
        body {
            background-color: #EEE;
            color: black;
        }
    </style>
</head>
<body>
    <div style="margin-top:50px;"></div>
    
    <h1>Executed SQL</h1>
    <table class="tgdb_table">
        <tr class="tgdb_row"><td><strong>Statement</strong></td><td>${Markup(sql)}</td></tr>
        <tr class="tgdb_row"><td><strong>Time</strong></td><td>${'%.4f' % (duration)} ms</td></tr>
        <tr class="tgdb_row"><td><strong>Parameters</strong></td><td>${params}</td></tr>
    </table>

    <h1>Explain</h1>
    <table py:if="result" class="tgdb_table">
        <thead>
            <tr>
                <th py:for="h in headers">${h.upper()}</th>
            </tr>
        </thead>
        <tbody>
            <tr py:for="i, row in enumerate(result)" class="${i%2 and 'tgdb_row_even' or 'tgdb_row_odd'} tgdb_row">
                <td py:for="column in row">${column}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>